<head>
  <meta charset="utf-8" /> 
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" /> 
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='table.css')}}" /> 
</head>


<h1>Run 07737</h1>

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>FileName</th>
      <th>FilePath</th>
      <th>LoadNumber</th>
      <th>Equipment</th>
      <th>RunRecipe</th>
      <th>RunStart</th>
      <th>RunEnd</th>
      <th>RunDuration</th>
      <th>FileLength</th>
      <th>OperatorName</th>
      <th>ExportControl</th>
      <th>IP</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>AC2-07337.DAT</td>
      <td>\\server1\AC2-DATA</td>
      <td>7337</td>
      <td>Autoclave #2</td>
      <td>XB-Falcon-Body</td>
      <td>2022-10-06T01:27:46</td>
      <td>2022-10-06T18:33:15</td>
      <td>1025.48</td>
      <td>192505</td>
      <td>raymond</td>
      <td>AU NSR</td>
      <td>Third Party Disclosure Requires Written Approval</td>
    </tr>
  </tbody>
</table>

<br>

<h1>Parts Information</h1>

<br>

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Index</th>
      <th>WorkOrder</th>
      <th>PartNumber</th>
      <th>PartDescription</th>
      <th>ToolLocation</th>
      <th>Comment1</th>
      <th>Comment2</th>
      <th>Comment3</th>
      <th>PartTCs</th>
      <th>PartProbes</th>
      <th>OtherSensors</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>3458987</td>
      <td>ACME-100</td>
      <td>Left Qtr Panel</td>
      <td>BOTTOM</td>
      <td>L=57</td>
      <td></td>
      <td></td>
      <td>[TC9, TC10]</td>
      <td>[MON45]</td>
      <td>[]</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>3458988</td>
      <td>ACME-200</td>
      <td>Right Qtr Panel</td>
      <td>BOTTOM</td>
      <td>L=30</td>
      <td></td>
      <td></td>
      <td>[TC35, TC36, TC37]</td>
      <td>[MON32, MON33]</td>
      <td>[]</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>3458966</td>
      <td>ACME-300</td>
      <td>L/H Headlight</td>
      <td>TOP BACK</td>
      <td>L=50</td>
      <td></td>
      <td></td>
      <td>[TC44, TC45]</td>
      <td>[MON50]</td>
      <td>[]</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>3458967</td>
      <td>ACME-400</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>[]</td>
      <td>[MON4, MON6]</td>
      <td>[]</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>3458968</td>
      <td>ACME-400</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>[]</td>
      <td>[MON9, MON10]</td>
      <td>[]</td>
    </tr>
  </tbody>
</table>

<br>

<a href="{{ url_for('home') }}">Home</a> 