{% extends "layout.html" %}
{% block title %}
Generate Tables
{% endblock %}
{% block content %}
<div class = 'header'>
    <h1> Data Generation </h1>
    <p>Values can be left blank</p>
</div>
<div class = 'container'>
    <div class = 'center-div'>
        <div class = 'left-div'>
            <center>
                <label for='gender'><h3>Load Number:</h3></label>
                <input type="text" id="gender" name="gender"> </center>
        </div>
        <div class = 'right-div'>
            <center>
                <label for='gender'><h3>Equipment:</h3></label>
                <input type="text" id="gender" name="gender"> </center>
        </div>
    </div>

    <div class = 'center-div'>
        <div class = 'left-div'>
            <center>
                <label for='gender'><h3>Run Recipe:</h3></label>
                <input type="text" id="gender" name="gender"> </center>
        </div>
        <div class = 'right-div'>
            <center>
                <label for='gender'><h3>Operator Name:</h3></label>
                <input type="text" id="gender" name="gender"> </center>
        </div>
    </div>

    <div class = 'center-div'>
        <div class = 'left-div'>
            <center>
                <label for='gender'><h3>Run Start:</h3></label>
                <input type="text" id="gender" name="gender"> </center>
        </div>
        <div class = 'right-div'>
            <center>
                <label for='gender'><h3>Run Duration:</h3></label>
                <input type="text" id="gender" name="gender">   
                to 
                <input type="text" id="gender" name="gender">   
            </center>
        </div>
    </div>

    <div class = 'center-div'>
        <center>
        <form method="post" action="/">
            <input type="submit" value="Submit" name="action1"/>
        </form>
        </center>
    </div>
    <div class = 'center-div'>
        <ul>Cures matching your query: 
            <li> <a href="C:\Users\frede\OneDrive\Desktop\University\Hackathon\boeingMoney-main\templates\display_json.html">AC2-07337</a> </li>
            <li> <a href="C:\Users\frede\OneDrive\Desktop\University\Hackathon\boeingMoney-main\templates\display_json.html">AC2-07338</a> </li>
            <li> <a href="C:\Users\frede\OneDrive\Desktop\University\Hackathon\boeingMoney-main\templates\display_json.html">AC2-07339</a> </li>
            <li> <a href="C:\Users\frede\OneDrive\Desktop\University\Hackathon\boeingMoney-main\templates\display_json.html">AC2-07340</a> </li>
            <li> <a href="C:\Users\frede\OneDrive\Desktop\University\Hackathon\boeingMoney-main\templates\display_json.html">AC2-07341</a> </li>
            <li> <a href="C:\Users\frede\OneDrive\Desktop\University\Hackathon\boeingMoney-main\templates\display_json.html">AC2-07343</a> </li>
            <li> <a href="C:\Users\frede\OneDrive\Desktop\University\Hackathon\boeingMoney-main\templates\display_json.html">AC2-07347</a> </li>
        </ul> 
    </div>

</div>
{% endblock %}